/* Default styles */
body {
    margin: 0;
}

/* Button styles */
.btn, .deleteLink  {
    display: inline-block;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    float : right;
     color: #fff;
        background-color: #0077b6;
        border: none;

}

button.btnn.btn-info {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    display: inline-block;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
         color: #fff;
            background-color: #0077b6;
            border: none;


}
.btn:hover {
    background-color: #0096c7;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}


.deleteLink:hover {
    color: red;
}

/* Container styles */
.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* Navigation styles */
nav.navbar.navbar-expand-lg.navbar-light.bg-light {

    background: linear-gradient(to bottom right, #0077b6, #0096c7, #00b4d8, #48cae4, #90e0ef);
    float : right ;
}


nav {
    border-bottom: 2px solid black;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}

.navbar-brand {
    display: inline-block;
    text-align: center;
    width: 16.6%;
    margin: fill;
    padding: 0;
    height: 100%;
}

.navbar-brand:hover {
    background: white;
}

.navbar-expand-lg {
    padding: 0;
    height: 40px;
    width: 100%;
}

/* Admin styles */
.adminSplit {
    float: left;
    width: 45%;
    margin: 2%;
}

.adminList {
    margin-bottom: 200px;
    list-style: none;
    overflow-y: scroll;
    scroll-snap-type: none;
}

.firstname {
    text-transform: capitalize;
}

.lastname {
    text-transform: uppercase;
}

.semListTd {

    padding: 0 20px;
    border: 2px;
}

.dateLieu {
    color: blue;
}

.messages {
    margin: 0 20px 303px;
    overflow-y: auto;
}

.message {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #f0f5f9;
    line-height: 1.5;
    margin-bottom: 10px;
}

.btn-import {
    display: inline-block;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        float : left;
         color: #fff;
            background-color: #0077b6;
            border: none;

}
.message:nth-child(even) {
    background: #6b7c93;
}



.author {
    font-size: 12px;
}

.form-control {
    margin-left: 10px;
    width: 500px;
}
.div.div-gauche{
    float : right;
}

.newElement {
    position: fixed;
    bottom: 0;
    background: white;
    margin: 0;
    padding: 10px;
}

.newElementAdmin {
    height: 200px;
    padding: 1%;
}

.msg {
    width: 100%;
}

.DivToScroll {
    position: relative;
    height: 604px;
}

#myApp {
    width: 100%;
}

#title:hover {
    background: white;
}

a.btn.btn-outline-primary {
    display: inline-block;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    float: right;
    color: #fff;
    background-color: #0077b6;
    border: none;
}

/* Media queries */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .navbar-brand {
        width: 25%;
    }

    .adminSplit {
        width: 100%;
        margin: 0;

    .form-control {
    width: 100%;
  }

  /* Hide some elements */
  .newElementAdmin {
    display: none;
  }

  .messages {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 576px) {
  /* Further adjust styles for smaller screens */
  .navbar-brand {
    width: 33.3%;
  }

  .adminList {
    margin-bottom: 100px;
  }
}



