h1 { color: black; }


nav {

    height: 80px;

    background:linear-gradient(to right, steelblue, skyblue,lightskyblue );

}

hr {
    border: none;
    border-top: 3px double #000000;
    overflow: visible;
    text-align: center;
    height: 5px;
}



button.composante-button{
    margin-right: 50px;
}
li{
    list-style: none;
}

button.logout-button{
    margin-left: 100px;
}
nav div a{
    color: black;
}



@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px #33d6eb, 0 0 50px #000;
    }
}
body{
    background:linear-gradient(to right, steelblue, skyblue,lightskyblue );


}

.table{
    margin-top: 100px;
}
a:hover {
    text-decoration: none;
}


.formationCard{
    display: flex;
    margin-top: 100px;
    padding-bottom: 20px ;
    justify-content: center;
    align-content: center;
}
.formationCard p.title{
    font-weight: bold;
    text-decoration-line: underline;
}

.card{

    color: white;
    background: linear-gradient(to bottom, steelblue, #1c1c1e );
    border-radius: 20px;
    width: 400px;
    margin-right: 30px;
    justify-content: center;
    align-content: center;
}
.card p{
    text-align: center;
}

.top{
    margin-top: 100px;
}

button.ajouter-formation-button{
    margin-left: 300px;
}

.bottom{
    display: inline-grid;
    margin-top: 50px;
}

button.exporter-données-button{
    margin-top: 25px;
    cursor: text;
    text-decoration: none;
}
button.a.nav-link:link
{
    color: #fb3f00;
    text-decoration: none;
}
